@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --headingbgcolor:#070707;
    --headingtextcolor:orange;
    --demo-2-dark:#55559d;
    --demo-2-light:#5b5bae;
    --demo-3:#24cf5f;
    --demo-4:#e12573;
    --demo-4-light:#f33182;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
header{
    text-align: center;
    height: 20rem;
    gap: 10px;
    background-color: var(--headingbgcolor);
}
header h1{
    font-size: 45px;
    color: var(--headingtextcolor);
    font-weight: 700;
    letter-spacing: 2px;
}
header p{
    font-size: 27px;
    font-weight: 700;
    color: var(--headingtextcolor);
}
.demo-head{
    text-align: center;
    background-color: aqua;
    padding: 20px;
    font-size: 27px;
    font-weight: 700;
    background-color: var(--headingtextcolor);
    color: white;
}
.demo-body{
    padding: 80px;
}
.demo-heading{
    text-align: center;
    margin:70px 0px;
    gap: 10px;
}
.demo-heading h2{
 font-size: 40px;

}
.demo-heading p{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  opacity: 0.7;
}
.demo-items{
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
}
.demo-item{
 gap: 30px;
 flex: 1;
}

.demo-head-4{
    background-color: var(--demo-4);
  }
  .demo-item-4{
      position: relative;
      padding: 40px;
      z-index: 99;
  }
  .demo-item-4 i{
      font-size: 70px;
      color: var(--demo-4);
      margin-right: 40px;
  }
  .demo-4-divider {
      display: flex;
      align-items: flex-start;
      gap: 20px;
  }
  .demo-item-4 i{
      font-size: 70px;
      color: var(--demo-4);
  }
  
  .demo-item-4 h3{
      font-size: 40px;
      color: black;
      opacity: 0.9;
  }
  .demo-item-4 p{
      font-size: 15px;
      color: #333;
      font-weight: 600;
      opacity: 0.7;
      line-height: 1.5;
  }
  
  .demo-item-4 .btn-4{
      padding: 20px 50px;
      border: none;
      background-color:var(--demo-4);
      color: white;
      font-size: 20px;
      border-radius: 50px;
  }
  
  .demo-4-overlay{
      position: absolute;
      width: 0;
      height: 100%;
      right: 0;
      background-color: var(--demo-4);
      z-index: -90;
      transition: all .4s ease;
  }
  
  
  .demo-item-4:hover .demo-4-overlay{
    width: 100%;
  }
  
  .demo-item-4:hover .icon-4, .demo-item-4:hover .head-4,.demo-item-4:hover .parag-4{
      color: white;
    }
  
  
    .demo-item-4:hover .btn-4{
      background-color: var(--demo-4-light);
    }