@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --headingbgcolor:#070707;
    --headingtextcolor:orange;
    --demo-2-dark:#55559d;
    --demo-2-light:#5b5bae;
    --demo-3:#24cf5f;
    --demo-4:#e12573;
    --demo-4-light:#f33182;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
header{
    text-align: center;
    height: 20rem;
    gap: 10px;
    background-color: var(--headingbgcolor);
}
header h1{
    font-size: 45px;
    color: var(--headingtextcolor);
    font-weight: 700;
    letter-spacing: 2px;
}
header p{
    font-size: 27px;
    font-weight: 700;
    color: var(--headingtextcolor);
}
.demo-head{
    text-align: center;
    background-color: aqua;
    padding: 20px;
    font-size: 27px;
    font-weight: 700;
    background-color: var(--headingtextcolor);
    color: white;
}
.demo-body{
    padding: 80px;
}
.demo-heading{
    text-align: center;
    margin:70px 0px;
    gap: 10px;
}
.demo-heading h2{
 font-size: 40px;

}
.demo-heading p{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  opacity: 0.7;
}
.demo-items{
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
}
.demo-item{
 gap: 30px;
 flex: 1;
}

/* Demo-2 Codes */
.demo-head-2{
    background-color: var(--demo-2-dark);
    
}
.demo-2{
    background-color: var(--demo-2-light);
}

.demo-2-h{
    color: white;
}

.demo-2-p{
    color: white !important;
}
.demo-item-2 {
    padding: 40px 20px;
    transition: all .4s ease-in-out;
    transform: scale(1);
}
.demo-item-2 i{
    font-size: 70px;
    border: 3px solid white;
    padding: 50px;
    border-radius: 100%;
    color: white;
}
.demo-item-2 h3{
    font-size: 40px;
    color: white;
    opacity: 0.9;
}
.demo-item-2 p{
    font-size: 18px;
    padding: 10px;
    color: white;
    opacity: 0.9;
    text-align: center;
    line-height: 1.5;
}
.demo-item-2 .btn-2 {
    padding: 25px 45px;
    border: none;
    background-color: white;
    color: var(--demo-2-dark);
    font-size: 18px;
}
.demo-item-2:hover {
     background-color: aqua;
     transform: scale(0.9);
     background-color: var(--demo-2-dark);
}
.demo-item-2:hover .btn-2{
    background-color: var(--demo-2-light);
    color: white;
}  

/* Demo-2 Codes */